#btnScopri{
  background-color: #AD342E;
  border-radius: 0px;
}

#btnScopri:hover{
  background-color: #e62218;
}

#btnScopri:active{
  background-color: #b31c14;
}

.bg-available{
  background: #63a869;
}

.bg-unavailable{
  background: #AD342E;
}

